.invisibleButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: transparent;
}


.myButtonPink {
    -fx-background-color: linear-gradient(to right, #d53772, #8653e0);
    -fx-background-radius: 20px;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
    -fx-font-size: 24;
}


.myButtonPurple {
    -fx-background-color: linear-gradient(to right, #380b82, #4818c2);
    -fx-text-fill: #ffffff;
    -fx-font-family: "Comic Sans MS";
    -fx-background-radius: 20px;
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

.invisibleButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(67, 27, 166, 0.5), 10, 8.5, 0, 0);
    -fx-background-radius: 100;
    -fx-background-color: rgba(40, 35, 35, 0.17);
}
.myButtonPurple:hover {
    -fx-effect: dropshadow(gaussian, rgba(67, 27, 166, 0.5), 10, 8.5, 0, 0);
    -fx-background-radius: 100;
    -fx-background-color: rgba(40, 35, 35, 0.17);
}.myButtonPink:hover {
     -fx-effect: dropshadow(gaussian, rgba(67, 27, 166, 0.5), 10, 8.5, 0, 0);
     -fx-background-radius: 100;
     -fx-background-color: rgba(40, 35, 35, 0.17);
 }

.roundedTextField {
    -fx-background-radius: 25px;
    -fx-padding-left: 300px;
    -fx-padding-right: 300px;
}
.myLabel {
    -fx-background-color: linear-gradient(to right, #d53772, #8653e0);
    -fx-background-radius: 20px;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
    -fx-font-size: 24;
}




.column-header-background .column-header {
    -fx-background-color: #380b82;
}

.title {
    -fx-text-fill: white;
    -fx-font-size: 28;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;

}
.warning{
    -fx-text-fill: #e60000;
    -fx-font-size: 20;
    -fx-font-family: "Comic Sans MS";

}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(rgb(140, 0, 254) 0%, rgba(140, 0, 254, 0.5) 25%, rgba(140, 0, 254, 0.25) 75%, rgb(140, 0, 254) 100%);
    -fx-text-fill: white;

}

.list-cell .label{
    -fx-text-fill: #ffffff;
}
.list-cell:even {
    -fx-background-color: rgba(134, 83, 224, 0.5);
}
.list-cell:odd {
    -fx-background-color: rgba(77, 48, 126, 0.5);
}

.list-cell:filled:hover {
    -fx-background-color: rgba(50, 0, 130, 0.5);
}

.list-view {
    -fx-background-color: rgba(134, 83, 224, 0.5);
    -fx-border-color: white;
    -fx-border-style: dotted;
    -fx-border-width: 3;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 16pt;
}
