.button
{
-fx-background-color: #f15523;

    -fx-background-radius: 20px;
    -fx-background-color: linear-gradient(to left top,#8653e0,#d53772);




}
.buttonMultiplier
{
    -fx-background-color: #f15523;

    -fx-background-radius: 20px;

    -fx-background-color: linear-gradient(to left top,#4818c2,#380b82);


}
.textField
{
   -fx-background-radius: 25px;
    -fx-padding-left:300px;
    -fx-padding-right:300px;

}



